
*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  background-color: #f8f9fa; 
  color: #212529;            

  line-height: 1.5;
}



p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}



a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}



img {
  max-width: 100%;
  height: auto;
  display: block;
}



input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
}


input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}


html {
  scroll-behavior: smooth;
}
