.main {
  padding: 40px 0;
}

.container {
  width: min(960px, 100%);
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}

.title {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.description {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}
